.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/ePIRLS/2016/aaade1.meta
Data/ePIRLS/2016/aadue1.meta
Data/ePIRLS/2016/aaree1.meta
Data/ePIRLS/2016/acane1.meta
Data/ePIRLS/2016/acgaade1.sav
Data/ePIRLS/2016/acgaade1.txt
Data/ePIRLS/2016/acgadue1.sav
Data/ePIRLS/2016/acgadue1.txt
Data/ePIRLS/2016/acgaree1.sav
Data/ePIRLS/2016/acgaree1.txt
Data/ePIRLS/2016/acgcane1.sav
Data/ePIRLS/2016/acgcane1.txt
Data/ePIRLS/2016/acgdnke1.sav
Data/ePIRLS/2016/acgdnke1.txt
Data/ePIRLS/2016/acggeoe1.sav
Data/ePIRLS/2016/acggeoe1.txt
Data/ePIRLS/2016/acgirle1.sav
Data/ePIRLS/2016/acgirle1.txt
Data/ePIRLS/2016/acgisre1.sav
Data/ePIRLS/2016/acgisre1.txt
Data/ePIRLS/2016/acgitae1.sav
Data/ePIRLS/2016/acgitae1.txt
Data/ePIRLS/2016/acgnore1.sav
Data/ePIRLS/2016/acgnore1.txt
Data/ePIRLS/2016/acgprte1.sav
Data/ePIRLS/2016/acgprte1.txt
Data/ePIRLS/2016/acgsgpe1.sav
Data/ePIRLS/2016/acgsgpe1.txt
Data/ePIRLS/2016/acgsvne1.sav
Data/ePIRLS/2016/acgsvne1.txt
Data/ePIRLS/2016/acgswee1.sav
Data/ePIRLS/2016/acgswee1.txt
Data/ePIRLS/2016/acgtwne1.sav
Data/ePIRLS/2016/acgtwne1.txt
Data/ePIRLS/2016/acgusae1.sav
Data/ePIRLS/2016/acgusae1.txt
Data/ePIRLS/2016/adnke1.meta
Data/ePIRLS/2016/ageoe1.meta
Data/ePIRLS/2016/airle1.meta
Data/ePIRLS/2016/aisre1.meta
Data/ePIRLS/2016/aitae1.meta
Data/ePIRLS/2016/anore1.meta
Data/ePIRLS/2016/aprte1.meta
Data/ePIRLS/2016/asaaade1.sav
Data/ePIRLS/2016/asaadue1.sav
Data/ePIRLS/2016/asaaree1.sav
Data/ePIRLS/2016/asacane1.sav
Data/ePIRLS/2016/asadnke1.sav
Data/ePIRLS/2016/asageoe1.sav
Data/ePIRLS/2016/asairle1.sav
Data/ePIRLS/2016/asaisre1.sav
Data/ePIRLS/2016/asaitae1.sav
Data/ePIRLS/2016/asanore1.sav
Data/ePIRLS/2016/asaprte1.sav
Data/ePIRLS/2016/asasgpe1.sav
Data/ePIRLS/2016/asasvne1.sav
Data/ePIRLS/2016/asaswee1.sav
Data/ePIRLS/2016/asatwne1.sav
Data/ePIRLS/2016/asausae1.sav
Data/ePIRLS/2016/asgaade1.sav
Data/ePIRLS/2016/asgaade1.txt
Data/ePIRLS/2016/asgadue1.sav
Data/ePIRLS/2016/asgadue1.txt
Data/ePIRLS/2016/asgaree1.sav
Data/ePIRLS/2016/asgaree1.txt
Data/ePIRLS/2016/asgcane1.sav
Data/ePIRLS/2016/asgcane1.txt
Data/ePIRLS/2016/asgdnke1.sav
Data/ePIRLS/2016/asgdnke1.txt
Data/ePIRLS/2016/asggeoe1.sav
Data/ePIRLS/2016/asggeoe1.txt
Data/ePIRLS/2016/asgirle1.sav
Data/ePIRLS/2016/asgirle1.txt
Data/ePIRLS/2016/asgisre1.sav
Data/ePIRLS/2016/asgisre1.txt
Data/ePIRLS/2016/asgitae1.sav
Data/ePIRLS/2016/asgitae1.txt
Data/ePIRLS/2016/asgnore1.sav
Data/ePIRLS/2016/asgnore1.txt
Data/ePIRLS/2016/asgpe1.meta
Data/ePIRLS/2016/asgprte1.sav
Data/ePIRLS/2016/asgprte1.txt
Data/ePIRLS/2016/asgsgpe1.sav
Data/ePIRLS/2016/asgsgpe1.txt
Data/ePIRLS/2016/asgsvne1.sav
Data/ePIRLS/2016/asgsvne1.txt
Data/ePIRLS/2016/asgswee1.sav
Data/ePIRLS/2016/asgswee1.txt
Data/ePIRLS/2016/asgtwne1.sav
Data/ePIRLS/2016/asgtwne1.txt
Data/ePIRLS/2016/asgusae1.sav
Data/ePIRLS/2016/asgusae1.txt
Data/ePIRLS/2016/ashaade1.sav
Data/ePIRLS/2016/ashadue1.sav
Data/ePIRLS/2016/asharee1.sav
Data/ePIRLS/2016/ashcane1.sav
Data/ePIRLS/2016/ashdnke1.sav
Data/ePIRLS/2016/ashgeoe1.sav
Data/ePIRLS/2016/ashirle1.sav
Data/ePIRLS/2016/ashisre1.sav
Data/ePIRLS/2016/ashitae1.sav
Data/ePIRLS/2016/ashnore1.sav
Data/ePIRLS/2016/ashprte1.sav
Data/ePIRLS/2016/ashsgpe1.sav
Data/ePIRLS/2016/ashsvne1.sav
Data/ePIRLS/2016/ashswee1.sav
Data/ePIRLS/2016/ashtwne1.sav
Data/ePIRLS/2016/ashusae1.sav
Data/ePIRLS/2016/asraade1.sav
Data/ePIRLS/2016/asradue1.sav
Data/ePIRLS/2016/asraree1.sav
Data/ePIRLS/2016/asrcane1.sav
Data/ePIRLS/2016/asrdnke1.sav
Data/ePIRLS/2016/asrgeoe1.sav
Data/ePIRLS/2016/asrirle1.sav
Data/ePIRLS/2016/asrisre1.sav
Data/ePIRLS/2016/asritae1.sav
Data/ePIRLS/2016/asrnore1.sav
Data/ePIRLS/2016/asrprte1.sav
Data/ePIRLS/2016/asrsgpe1.sav
Data/ePIRLS/2016/asrsvne1.sav
Data/ePIRLS/2016/asrswee1.sav
Data/ePIRLS/2016/asrtwne1.sav
Data/ePIRLS/2016/asrusae1.sav
Data/ePIRLS/2016/astaade1.sav
Data/ePIRLS/2016/astadue1.sav
Data/ePIRLS/2016/astaree1.sav
Data/ePIRLS/2016/astcane1.sav
Data/ePIRLS/2016/astdnke1.sav
Data/ePIRLS/2016/astgeoe1.sav
Data/ePIRLS/2016/astirle1.sav
Data/ePIRLS/2016/astisre1.sav
Data/ePIRLS/2016/astitae1.sav
Data/ePIRLS/2016/astnore1.sav
Data/ePIRLS/2016/astprte1.sav
Data/ePIRLS/2016/astsgpe1.sav
Data/ePIRLS/2016/astsvne1.sav
Data/ePIRLS/2016/astswee1.sav
Data/ePIRLS/2016/asttwne1.sav
Data/ePIRLS/2016/astusae1.sav
Data/ePIRLS/2016/asvne1.meta
Data/ePIRLS/2016/aswee1.meta
Data/ePIRLS/2016/atgaade1.sav
Data/ePIRLS/2016/atgaade1.txt
Data/ePIRLS/2016/atgadue1.sav
Data/ePIRLS/2016/atgadue1.txt
Data/ePIRLS/2016/atgaree1.sav
Data/ePIRLS/2016/atgaree1.txt
Data/ePIRLS/2016/atgcane1.sav
Data/ePIRLS/2016/atgcane1.txt
Data/ePIRLS/2016/atgdnke1.sav
Data/ePIRLS/2016/atgdnke1.txt
Data/ePIRLS/2016/atggeoe1.sav
Data/ePIRLS/2016/atggeoe1.txt
Data/ePIRLS/2016/atgirle1.sav
Data/ePIRLS/2016/atgirle1.txt
Data/ePIRLS/2016/atgisre1.sav
Data/ePIRLS/2016/atgisre1.txt
Data/ePIRLS/2016/atgitae1.sav
Data/ePIRLS/2016/atgitae1.txt
Data/ePIRLS/2016/atgnore1.sav
Data/ePIRLS/2016/atgnore1.txt
Data/ePIRLS/2016/atgprte1.sav
Data/ePIRLS/2016/atgprte1.txt
Data/ePIRLS/2016/atgsgpe1.sav
Data/ePIRLS/2016/atgsgpe1.txt
Data/ePIRLS/2016/atgsvne1.sav
Data/ePIRLS/2016/atgsvne1.txt
Data/ePIRLS/2016/atgswee1.sav
Data/ePIRLS/2016/atgswee1.txt
Data/ePIRLS/2016/atgtwne1.sav
Data/ePIRLS/2016/atgtwne1.txt
Data/ePIRLS/2016/atgusae1.sav
Data/ePIRLS/2016/atgusae1.txt
Data/ePIRLS/2016/atwne1.meta
Data/ePIRLS/2016/ausae1.meta
Data/ePIRLS/2016/eP16_SPSSData.zip
Output/PIRLS_achievement/experiment.gif
Output/PIRLS_achievement/experiment_v10.gif
Output/PIRLS_achievement/experiment_v11.gif
Output/PIRLS_achievement/experiment_v13.gif
Output/PIRLS_achievement/experiment_v14.gif
Output/PIRLS_achievement/experiment_v2.gif
Output/PIRLS_achievement/experiment_v3.gif
Output/PIRLS_achievement/experiment_v4.gif
Output/PIRLS_achievement/experiment_v6.gif
Output/PIRLS_achievement/experiment_v7.gif
Output/PIRLS_achievement/experiment_v8.gif
Output/PIRLS_achievement/experiment_v9.gif
Output/PIRLS_achievement/pirls2016_figure03.xlsx
Output/PIRLS_achievement/pirls_gganimate.gif
Output/PIRLS_achievement/Sent to NCES/Animated Tweet PIRLS.docx
Output/PIRLS_achievement/Sent to NCES/PIRLS_withLabel.gif
Output/PIRLS_achievement/Sent to NCES/PIRLS_withoutLabel.gif
Output/PIRLS_achievement/tabn602.15.xls
Output/TIMSS_trend/ssci_itsex.gif
Output/TIMSS_trend/ssci_itsex_experiment.gif
Output/TIMSS_trend/ssci_itsex_experiment2.gif
Output/TIMSS_trend/ssci_itsex_experiment3.gif
Output/TIMSS_trend/ssci_itsex_experiment4.gif
Output/TIMSS_trend/ssci_itsex_experiment5.gif
Output/TIMSS_trend/ssci_itsex_experiment6.gif
Output/TIMSS_trend/ssci_itsex_experiment7.gif
Output/TIMSS_trend/ssci_itsex_experiment8.gif
Output/TIMSS_trend/ssci_itsex_experiment9.gif
Output/TIMSS_trend/ssci_itsex_plot_failed experiment.gif
Output/TIMSS_trend/ssci_itsex_v2.gif
Output/TIMSS_trend/ssci_itsex_v3.gif
Output/TIMSS_trend/Thumbs.db
Code/From Michael/lineEducationGrid.csv
Code/From Michael/lineEducationGrid.gif
Code/From Michael/lineEducationGridAnnotated.R
Code/From Michael/lineEducationLarge.gif
Code/From Michael/Thumbs.db
Code/NAEP State Mapping/Materials/2018159.pdf
Code/NAEP State Mapping/Materials/G4Reading2017.xlsx
Code/NAEP State Mapping/Materials/NAEP St Mapping figure shell.pdf
Thumbs.db
